@CHARSET "UTF-8";

body {
    font: 12px/1.2 Arial, Helvetica, sans-serif;
    color: #333333;
    background: #666666;
    min-width: 600px;
}

/* Common */
h1, h2, h3 { font-weight: bold; }
h1 { font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 100%; }

a { color: #444444; text-decoration: none; }

    /* Common - Classes */
    .left { float: left; }
    .right { float: right; }
    .clear { clear: both; }
    .clearer:after { content: ".";  display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }
    .clearL { clear: left; }
    .clearR { clear: right; }

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #222;
    color: #ffffff;
    box-shadow: 0 3px 3px 0px rgba(0,0,0,0.5);
}

header a { color: #ffffff; }

header h1 {
    float: left;
    margin: 5px 50px 5px 15px;
}

    /* Header - Nav */
    #top-nav {
        float: left;
        padding-top: 10px;
    }

    #top-nav a { display: block; }

    #top-nav > ul > li { /* Top level Menu */
        position: relative;
        float: left;
        margin-right: 25px;
        padding-bottom: 5px;
    }

    #top-nav > ul > li > a {
        font-size: 14px;
    }

    #top-nav > ul > li > a.hasMenu:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        border-top: 5px solid #fff;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin-bottom: 2px;
        margin-left: 4px;
    }

        /* Header - Nav - Sub menu (all levels) */
        #top-nav ul ul { display: none; position: absolute; top: 24px; border: 1px solid #aaa; background: #ffffff; color: #000000; border-radius: 4px; box-shadow: 1px 1px 2px rgba(0,0,0,0.3); }
        #top-nav ul ul li { position: relative; border-top: 1px solid #aaa; }
        #top-nav ul ul li:first-child { border-top: none; }
        #top-nav ul ul a { color: #000000; padding: 5px 20px 5px 15px; white-space: nowrap; }
        #top-nav ul ul a:hover { text-decoration: underline; }
        #top-nav ul ul a.hasMenu:after {
            content: "";
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -3px;
            display: block;
            vertical-align: middle;
            border-left: 5px solid #000;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            margin-bottom: 2px;
            margin-left: 4px;
        }

        #top-nav ul ul:before { /* Arrow above - Level 2 - Border */
            content: "";
            position: absolute;
            top: -8px;
            left: 10px;
            border-bottom: 8px solid #aaa;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }

        #top-nav ul ul:after { /* Arrow above menu - Level 2 */
            content: "";
            position: absolute;
            top: -7px;
            left: 11px;
            border-bottom: 7px solid #fff;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
        }

        #top-nav ul ul ul {
            top: 2px;
            left: 100%;
            margin-left: 5px;
        }

        #top-nav ul ul ul:before {
            top: 5px;
            left: -5px;
            border-right: 5px solid #aaa;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: none;
        }

        #top-nav ul ul ul:after {
            top: 6px;
            left: -4px;
            border-right: 4px solid #fff;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: none;
        }

    /* Header - Sub Header */
    #sub-header {
        clear: both;
        background: #ddd;
        height: 20px;
        padding: 5px 15px;
        box-shadow: inset 0 3px 3px 0px rgba(0,0,0,0.5);
    }

        /* Header - Sub Header - Search */
        #search {
            position: relative;
            float: right;
            border-radius: 9px;
            height: 16px;
            padding: 2px 15px 0 10px;
            overflow: hidden;
            width: 0;
        }

        #search.active {
            border: 1px solid #999;
            background: #fff;
            border-top-color: #666;
            border-left-color: #666;
            box-shadow: inset 0 2px 2px rgba(0,0,0,1);
            width: auto;
        }

        #search:after {
            content: "";
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -8px;
            height: 16px;
            width: 16px;
            background: url(../images/search.png) 0 0 no-repeat;
        }

        #search input {
            display: none;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font: 11px/16px Arial, Helvetica, sans-serif;
        }

        #search.active input {
            display: block;
        }

/* Hero */
#hero {
    padding-top: 62px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
}

/* Page */
#page {
    background: #ffffff;
    padding: 15px 15px 50px;
    box-shadow: 0 3px 3px 0px rgba(0,0,0,0.5);
}

#page h1 {
    margin-bottom: 1em;
}

/* Footer */
footer {
    padding: 30px 15px 15px;
    color: #eeeeee;
}